
.container {
    flex: 1;
    align-items: 'center';
    justify-content: 'center';
}
.container .title {
    font-size: 20;
    font-weight: 'bold';
}
.container .separator {
    margin-inline-start: 30;
    height: 1;
    width: '80%';
}